.navHeaderLink:hover::after{
    width:100%;
}

.navHeaderLink:hover{
    color:var(--roxo);
}

#navHeaderLinkInstagram svg:hover{
    fill:var(--amarelo);
}

.heroHolderBtn:hover{
    color:white;
    border:2px solid var(--roxo);
    background-color:var(--roxo);
}

#menu:hover{
    fill:var(--roxo);
}

.boxArrow:hover{
    fill:var(--roxo);
    transition:.3s;
}

.escolherPlanosBtn:hover{
    background-color: rgb(177, 177, 177);
}

.infoPlanoBtn:hover{
    color:var(--amarelo);
}

.euQuero:hover{
    background-color:rgb(216, 216, 216);
    color:var(--roxo);
}

.footerSocialLink svg:hover{
    fill:rgb(216, 1, 216);
}

#menuResponsiveBtn:hover{
    fill:yellow;
}

.menuResponsiveLinks:hover{
    color:yellow;
}

