:root{
    --roxo: #920092;
    --amarelo: yellow;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden; 
}

*{
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    margin:0;
    height:100vh;
    position: relative;
    overflow-x: hidden;
}

#menuResponsive{
    width:100%;
    height:100%;
    background-color: rgb(44, 0, 65);
    position: fixed;
    z-index:2;
    transform: translateX(55rem);
    transition:.4s;
    display:none;
}

#menuResponsiveXContainer{
    width:100%;
    height:5rem;
    display: flex;
    justify-content: end;
}

#menuResponsiveContainer{
    width:100%;
    height:calc(100% - 5rem);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:4rem;
}

.menuResponsiveLinks{
    font-family: sans-serif;
    color: white;
    text-decoration:none;
    font-size:1.8rem;
    transition:.4s;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#menuResponsiveBtn{
    width:4rem;
    height:4rem;
    position: absolute;
    cursor: pointer;
    border:none;
    background-color: transparent;
    fill:rgb(255, 255, 255);
    margin:1.1rem 1.5rem 0 0;
    transition:.4s;
}

#menuResponsiveBtn svg{
    width:3rem;
    height:3rem;
}

#menuBtn{
    cursor:pointer;
    background-color: transparent;
    border:none;
    width:4rem;
    height:4rem;
    position: absolute;
    top:2%;
    right:3%;
    display:none;
}

#menu{
    width:3rem;
    height:3rem;
    fill: white;
    transition:.3s;
}

#header{
    width:100%;
    height:5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
}

#headerLogo{
    width:15rem;
    display: flex;
    margin-top:1rem;
}

#headerLogoImg{
    width:15rem;
}

#navHeader{
    gap:2rem;
    display: flex;
}

.navHeaderLink{
    color:white;
    text-decoration:none;
    font-family: "Lato", sans-serif;
    font-size:1.05rem;
    position: relative;
}

.navHeaderLink::after{
    content:"";
    width:0%;
    height:2px;
    background-color:var(--roxo);
    position: absolute;
    bottom:0;
    left:0;
    transition:.3s;
}

#navHeaderLinkInstagram{
    width:1.7rem;
    height:1.7rem;
    margin-left:2rem;
}

#navHeaderLinkInstagram svg{
    transition:.3s;
    fill:white;
}

#hero{
    width:100%;
    height:100%;
    background:url(BEACH\ TENNIS.png);
    background-size: cover;
    background-position: center;
}

#heroHolder{
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, .9);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:white;
    font-family: "Lato", sans-serif;
    gap:.7rem;
}

#heroHolderTitle{
    font-size:3rem;
}


#energia{
    color:var(--amarelo);
}

#heroHolderText{
    color:rgb(218, 218, 218);
    font-size:2rem;
}

#heroHolderBtnContainer{
    width:fit-content;
    height:4rem;
    font-family: "Poppins", serif;
    display: flex;
    justify-content: space-evenly;
    margin-top:4rem;
    gap:2rem;
    
}

.heroHolderBtn{
    background-color:transparent;
    border:2px solid white;
    color:white;
    padding:1rem;
    border-radius:40px;
    cursor: pointer;
    font-weight: 700;
    transition:.4s;
}

#heroHolderBtnPlanos{
    padding:1rem 2.7rem;
}

#baixeAPP{
    width:100%;
    height:68.5%;
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: center;
}

#baixeAPPContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width:60rem;
    height:100%;
}

#baixeAPPContainerBox{
    width:40rem;
    height:100%;
    font-family: sans-serif;
    color: white;
}

#baixeAPPTitle{
    margin:3.5rem 0 0 2rem;
}

#baixeAPPText{
    color:gray;
    margin:3rem 0 0 2rem;
    font-size:1.2rem;
}

#baixeAPPSubTitle{
    margin:4rem 0 4rem 2rem;
}

#baixeAPPLink{
    margin:2rem 0 0 2rem;
    text-decoration: none;
    background-color: black;
    color:white;
    font-weight:600;
    width:10rem;
    height:3rem;
    display: block;
}

#baixeAPPLink img{
    width:100%;
    margin-bottom:2rem;
}

#baixeAPPImgContainer{
    background-color: var(--roxo);
    height:80%;
    width:20rem;
    overflow: hidden;
    border:6.5px solid black;
    border-top:15px solid black;
}

#baixeAPPImgContainer img{
    width:100%;
}

#footer{
    width:100%;
    height:31.5%;
    background-color: rgb(235, 235, 235);
    display: flex;
    align-items: center;
    flex-direction: column;
}

#footerContainer{
    width:63%;
    height:75%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

#footerContainerBox{
    width:35rem;
    height:100%;
    display: flex;
    justify-content:start;
    align-items:end;
}

#footerContainerBoxLeft{
    height: 100%;
    width:20rem;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    font-weight:600;
}

#footerLogo{
    width:15rem;
}

#footerContainerBoxRight{
    height: 100%;
    width:15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:var(--roxo);
    font-family: sans-serif;
    gap:1rem;
    
}

#footerContainerBoxRightTitle{
    font-weight: 600;
}

.footerContainerBoxText{
    color: gray;
    margin-bottom:1rem;
}

#footerFooter{
    width:63%;
    height:50%;
    border-top:1px solid rgb(131, 131, 131);
    font-size:1rem;
    font-family: sans-serif;
    color: var(--roxo);
    font-weight:600;
    font-size:1.2rem;
    display: flex;
    justify-content: space-between;
}

#footerFooterText{
    margin:.75rem 0 0 1rem;
}

#footerContainerSocial{
    width:5.1rem;
    height:3rem;
    display: flex;
    align-items: center;
    justify-content: end;
    gap:1rem;
    margin-right:1rem;
}

.footerSocialLink{
    width:1.8rem;
    height:2rem;
    display: block;
}

.footerSocialLink svg{
    width:1.8rem;
    height:1.8rem;
    fill:var(--roxo);
    transition:.4s;
}

/*PLANOS*/
/*PLANOS*/
/*PLANOS*/
/*PLANOS*/
/*PLANOS*/

#planos{
    background-color:rgb(236, 236, 236);
    width:100%;
    height:fit-content;
    position: relative;
    padding-bottom:6rem;
}

#planosDetailsHolder{
    width:100%;
    height:100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: start;
    z-index:99;
}

.planosDetails{
    width:60rem;
    height:40rem;
    background-color: white;
    font-family: sans-serif;
    position: relative;
    display:none;
}

.planosDetailsBtn{
    position: absolute;
    border:none;
    background-color:transparent;
    cursor: pointer;
    right:0;
    margin:.5rem .5rem 0 0;
}

.planosDetailsTitleHolder{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:2rem 0 0 4rem;
}

.planosDetailsTitle{
    font-weight:500;
    font-size:1.7rem;
    color:var(--roxo);
}

.vigencia{
    margin-right:4rem;
}

.vigencia span{
    font-weight:bold;
}

.planosDetailsPrice{
    font-size:3.4rem;
    font-weight:bold;
    margin-left:4rem;
    margin-top:1rem;
}

.planosDetailsPrice span{
    font-size:1rem;
    font-weight:600;
    color:gray;
}

.planosDetailsList{
    margin:2rem 0 0 3rem;
}

.planosDetailsListLi{
    margin:1rem 0 0 0;
}

.planosDetailsListLi span{
    font-weight:bold;
}

.planosDetailsSubTitle{
    margin:2rem 0 0 4rem;
}

.planosDetailsAtividades{
    margin:1rem 0 0 4rem;
    border:1px solid var(--roxo);
    width:fit-content;
    padding:1rem;
    color:gray;
}

.planosDetailsAtividades span{
    font-weight: bold;
}

#planosTitle{
    font-family: "Poppins", serif;
    font-weight:500;
    font-size:2.5rem;
    text-align: center;
}

#planosText{
    font-family: "Poppins", serif;
    font-weight:400;
    color:rgb(75, 75, 75);
    text-align: center;
    font-size:1.5rem;
}

#planosContainer{
    width:100%;
    height:calc(100% - 6rem);
    display:flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap:2rem;
    
}

#planoContainerContainer{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    margin-top:2rem;
}

#planoArrowBtn2, #planoArrowBtn3, #planoArrowBtn5, #planoArrowBtn6{
    display:none;
}

.planoArrowBtn{
    width:3rem;
    height:3rem;
    cursor: pointer;
    background-color: transparent;
    border:none;
    align-self: center;
    margin:6rem 2rem 5rem 0;
}

#planoArrowBtn1, #planoArrowBtn2, #planoArrowBtn3{
    transform: scale(-1);
}



.planoArrowBtn svg{
    width:100%;
    height:100%;
}

#planoContainerHolder{
    width:80rem;
    height:40rem;
    display: flex;
    overflow:hidden;
}

#planoContainerHolderHolder{
    width:640rem;
    height:100%;
}

.planoContainerWrapper{
    width:160rem;
    height:100%;
    display: flex;
    justify-content: space-between;
    transition:.4s;
}

#planoContainerWrapper2{
    display: none;
}

#planoContainerWrapper3{
    width:214rem;
    display: none;
}

#planosBtnContainer{
    margin-top:1rem;
    width:100%;
    height:fit-content;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    gap:.5rem;
}

.planosBtn{
    border:2px solid var(--roxo);
    background-color:transparent;
    cursor: pointer;
    margin-top:1rem;
    border-radius:10px;
    transition:.4s;
    color:black;
    text-transform: uppercase;
    font-size:1rem;
}


#planoBtn1{
    padding:1rem 3rem;
    background-color:#920092;
    color:white;
}

#planoBtn2{
    padding:1rem 3.85rem;
}

#planoBtn3{
    padding:1rem 1rem;
}



.planoCard{
    width:24.1rem;
    height:100%;
    box-shadow: inset 0 0 0 2.5px var(--roxo);
    border-radius:10px;
    transition:.5s;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.planoCardTitle{
    text-align: center;
    margin-top:4rem;
    font-weight:500;
    font-size:1.75rem;
}

.planoCardPrice{
    margin-top:2rem;
    font-size:4rem;
    font-weight:700;
}

.planoCardPrice span{
    font-size:1rem;
    color:gray;
}

.perMonth{
    font-size:1.5rem;
    color:gray;
}

.planoCardBtn{
    margin-top:2rem;
    font-size:1rem;
    background-color:transparent;
    border:2.5px solid var(--roxo);
    padding:1.5rem 7rem;
    border-radius:10px;
    cursor: pointer;
}

.planoCardBtnVantagem{
    background-color:var(--roxo);
    color:yellow;
}

.planoCardParcela{
    margin-top:1.5rem;
    color:gray;
    font-size:1.25rem;
}

.planoCardFooter{
    margin-top:1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:2rem;
    border-top:1.5px solid rgba(179, 179, 179, 0.699);
    width:99%;
}

.planoCardFooterTitle{
    margin-top:1rem;
    font-size:1rem;
}

.planoCardFooterBtn{
    background-color: transparent;
    border:none;
    cursor: pointer;
    color:var(--roxo);
    font-size:1.1rem;
}

/* PLANOS REPONSIVO */
/* PLANOS REPONSIVO */
/* PLANOS REPONSIVO */
/* PLANOS REPONSIVO */
/* PLANOS REPONSIVO */
/* PLANOS REPONSIVO */
/* PLANOS REPONSIVO */

.planoContainerContainerResponsive{
    width:100%;
    height:100%;
    display: none;
    gap:2rem;
    justify-content: center;
    flex-wrap: wrap;
}

#planoContainerContainerResponsive2, #planoContainerContainerResponsive3{
    margin-top:2rem;
}

.planoCardResponsive{
    width:24.1rem;
    height:40rem;
    box-shadow: inset 0 0 0 2.5px var(--roxo);
    border-radius:10px;
    transition:.5s;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.planoCardTitleResponsive{
    text-align: center;
    margin-top:4rem;
    font-weight:500;
    font-size:1.75rem;
}

.planoCardPriceResponsive{
    margin-top:2rem;
    font-size:4rem;
    font-weight:700;
}

.planoCardPriceResponsive span{
    font-size:1rem;
    color:gray;
}

.perMonthResponsive{
    font-size:1.5rem;
    color:gray;
}

.planoCardBtnResponsive{
    margin-top:2rem;
    font-size:1rem;
    background-color:transparent;
    border:2.5px solid var(--roxo);
    padding:1.5rem 7rem;
    border-radius:10px;
    cursor: pointer;
}

.planoCardBtnVantagemResponsive{
    background-color:var(--roxo);
    color:yellow;
}

.planoCardParcelaResponsive{
    margin-top:1.5rem;
    color:gray;
    font-size:1.25rem;
}

.planoCardFooterResponsive{
    margin-top:1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:2rem;
    border-top:1.5px solid rgba(179, 179, 179, 0.699);
    width:99%;
}

.planoCardFooterTitleResponsive{
    margin-top:1rem;
    font-size:1rem;
}

.planoCardFooterBtnResponsive{
    background-color: transparent;
    border:none;
    cursor: pointer;
    color:var(--roxo);
    font-size:1.1rem;
}

#planosBtnContainerResponsive{
    margin-top:1rem;
    width:100%;
    height:fit-content;
    font-family: sans-serif;
    display: none;
    justify-content: center;
    gap:.5rem;
}

.planosBtnResponsive{
    border:2px solid var(--roxo);
    background-color:transparent;
    cursor: pointer;
    margin-top:1rem;
    border-radius:10px;
    transition:.4s;
    color:black;
    text-transform: uppercase;
    font-size:1rem;
}


#planoBtn1Responsive{
    padding:1rem 3rem;
    background-color:#920092;
    color:white;
}

#planoBtn2Responsive{
    padding:1rem 3.85rem;
}

#planoBtn3Responsive{
    padding:1rem 1rem;
}




/* GRADE HORARIA */
/* GRADE HORARIA */
/* GRADE HORARIA */
/* GRADE HORARIA */
/* GRADE HORARIA */
/* GRADE HORARIA */


#localizacao{
    width:100%;
    height:100%;
    padding-bottom:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#localizacaoTitle{
    margin:1rem 0 0 0;
    font-family:sans-serif;
    text-align: center;
}

#localizacaoText{
    margin:.5rem 0 0 0;
    font-size:1.3rem;
    font-family:sans-serif;
    text-align: center;
    color:gray;
}

#localizacaoMapa{
    margin-top:3rem;
    width:70rem;
    height:45rem;
    outline:3px solid purple;
}


@keyframes scaleUp {
    from {
        opacity:0;
        transform: translateY(0);
    }
    to {
        opacity:1;
        transform: translateY(5rem);
    }
}

.animate {
    animation: scaleUp .4s ease-in-out forwards;
}